* {
  margin: 0;
  padding: 0;
}

body {
  background: #f8fafc;
}

.react-calendar {
  margin-bottom: 1rem;
}

.card {
  padding: 2rem;
}

.row {
  margin-bottom: 1rem;
}

.react-calendar {
  margin: auto;
  width: 100%;
}

header {
  margin: auto;
  font-weight: 700;
  background: linear-gradient(130deg, #3c91e7 0, #78378c 100%);
  text-align: center;
  font-size: 35px;
  margin-bottom: 1rem;
  color: #ffffff;
}

.react-calendar__navigation__label {
  font-weight: bold;
}

.notes-wrapper .note {
  width: 99%;
  max-width: 99%;
}

@media screen and (max-width: 1200px) {
  .App {
    text-align: left;
    margin: auto;
    width: 95%;
  }

  header {
    height: 60px;
    line-height: 60px;
  }

  .react-calendar {
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 1200px) {
  .App {
    text-align: left;
    margin: auto;
    width: 70%;
  }

  header {
    height: 100px;
    line-height: 100px;
  }
}

.notes-wrapper {
  overflow-x: hidden;
  overflow-y: auto;
  height: 344px;
  min-height: 344px;
  max-height: 344px;
  padding: 1rem;
}

.notes-wrapper .note {
  max-height: 100px;
}
