* {
  margin: 0;
  padding: 0;
}

body {
  background: #f8fafc;
}

.card {
  padding: 1rem;
}

.row {
  margin-bottom: 1rem;
}

.react-calendar {
  margin: auto;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.125);
  margin-bottom: 1rem;
}

header {
  margin: auto;
  font-weight: 700;
  background: linear-gradient(130deg, #3c91e7 0, #78378c 100%);
  text-align: center;
  font-size: 35px;
  margin-bottom: 1rem;
  color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

footer {
  color: rgb(255, 255, 255);
  background-color: rgb(40, 44, 52);
  height: 100px;
  margin: auto;
  text-align: center;
  line-height: 100px;
}

.react-calendar__navigation__label {
  font-weight: bold;
}

.notes-wrapper .note {
  width: 99%;
  max-width: 99%;
}

.App {
  overflow-x: hidden;
  overflow-y: auto;
}

@media screen and (max-width: 1200px) {
  .App {
    text-align: left;
    margin: auto;
    width: 95%;
  }

  header {
    height: 60px;
    line-height: 60px;
  }

  .react-calendar {
    margin-bottom: 1rem;
  }

  .App {
    height: calc(100vh - 136px);
  }

  footer {
    height: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 900px) {
  .add-note-wrapper {
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 1200px) {
  .App {
    text-align: left;
    margin: auto;
    width: 70%;
  }

  header {
    height: 100px;
    line-height: 100px;
  }

  .App {
    height: calc(100vh - 216px);
  }

  footer {
    height: 100px;
    line-height: 100px;
  }
}

.notes-wrapper {
  overflow-x: hidden;
  overflow-y: auto;
  height: 344px;
  min-height: 344px;
  max-height: 344px;
  padding: 1rem;
}

.notes-wrapper .note {
  max-height: 100px;
}
